@import url('https://fonts.googleapis.com/css2?family=Anton&family=Balsamiq+Sans:wght@400;700&family=IBM+Plex+Sans:wght@300&family=Playfair+Display:ital,wght@0,400;1,600&family=Rubik:wght@400;500;800&display=swap');

/* font-family: 'Anton', sans-serif;
font-family: 'Balsamiq Sans', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif; */

:root{
    --background:rgb(228, 255, 243);
    --backgroundHover:rgba(29, 150, 67, 0.671);
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

li{
    list-style: none;
}

/*contenedor principal*/
.container{
    min-width:320px;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-image: url(/img/animacion/wave.svg);
    background-color:var(--background);
    background-repeat: no-repeat;
    overflow: hidden;
}

/*div que incluye la animacion*/
.item{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url(/img/animacion/0.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/*nombre de clase que uso para activar la animación*/
.classname{
    width: 200px;
    height: 200px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    animation: crecimiento 200s ease-in-out;
}

/* animacion planta */
@keyframes crecimiento{
    10%{
        background-image: url(/img/animacion/1.png);
    }
    15%{
        background-image: url(/img/animacion/2.png);
    }
    30%{
        background-image: url(/img/animacion/3.png);
    }
    45%{
        background-image: url(/img/animacion/4.png);
    }
    60%{
        background-image: url(/img/animacion/5.png);
    }
    75%{
        background-image: url(/img/animacion/6.png);
    }
    100%{
        background-image: url(/img/animacion/7.png);
    }
}

/*boton del menu*/
.btnMenu{
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

/* animacion boton menu  */

.btnMenu:hover{
    animation: rotar 1.5s alternate;
}

@keyframes rotar{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(10deg);
    }
    40%{
        transform: rotate(-15deg);
    }
    60%{
        transform: rotate(15deg);
    }
    80%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*lista desplegable*/
.header__lista{
    height: 100vh;
    background-image: url(/img/animacion/vectorstock_78465.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 80px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/*contenido de la lista*/
.lista__item{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px rgba(46, 43, 43, 0.856);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

/*todos los elementos li dentro de lista*/
.header__lista>li:hover{
    width: 100%;
    background-color:var(--backgroundHover);
}


/*todos los anchor*/
a{
    text-decoration: none;
}

/*titulo de bienvenida*/
.titleh2{
    margin:20% 0 5% 5%;
    text-align:left;
}

/*contenedor footer*/
.footer__container{
    height: 300px;
    background-image: url(/img/animacion/14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/*tamaño del logo*/
.animate__bounceInDown{
    width: 70%;
}

/* contenedor del logo*/
.main__logo{
    text-align: center;
    margin: auto;
}

/*contenedor footer links*/
.footer__lista{
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.footer__item:hover{

    transform: scaleX(-1);
}

/* ----------------------------------------------------Media Query */
@media (min-width:700px){
    .container{
    height: 100%;
    }

    .header__lista{
        line-height: 90px;
    }

  
}